.main{
    height: 100vh;
    display: flex;
    padding: 50px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.toolTip__div{
    padding: 5px;
    border-bottom: dotted;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  padding: 6px 10px;
  background-color: red;
  color: white;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
}